[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = {extras = ["crt"], version = "*"}
requests = "*"
tqdm = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
