[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
geopandas = "*"
contextily = "*"
seaborn = "*"
snowflake-snowpark-python = "*"
basemap = "*"
basemap-data-hires = "*"
cartopy = "*"
plotly = "*"
folium = "*"
streamlit-folium = "*"

[dev-packages]

[requires]
python_version = "3.11"
